<% layout('/layouts/boilerplate.ejs') -%>
    <!DOCTYPE html>
    <html lang="en">

    <head>
    </head>

    <body>
        <div class="watch-route_main_box">
            <div class="watch-route_video_box">
                <div class="watch-video_main_container">
                    <div class="watch_video_with_frametag">
                        <iframe id="video_frame" data-video-id="<%= completeResponse.videoId %>" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen>
                        </iframe>
                        <div class="watch_play_pouse_progress-box">
                            <div class="watch_video_progress"></div>
                            <div class="watch_video_play_pouse_cap">
                                <div class="watch_play_pouse_mute_box">
                                    <div class="watchBack"><i class="fa-solid fa-backward-step"></i></div>
                                    <!-- Backword Icon-->
                                    <div class="watchPlay"><i class="fa-solid fa-play"></i></div> <!--  Play  Icon-->
                                    <div class="watchNext"><i class="fa-solid fa-forward-step"></i></div>
                                    <!-- Forword Icon-->
                                    <div class="watchMute"><i class="fa-solid fa-volume-high"></i></div>
                                    <!-- Volume Icon-->
                                    <div class="watchTime_remaintime"><span>2:30/4:15</span></div>
                                    <!-- Current time , Remaining Time Icon-->
                                </div>
                                <div class="watch_autoPlay_setting_fullScreen_box">
                                    <div class="watch_autoPlay"> </div> <!-- Auto Play Icon-->
                                    <div class="watch_caption_box"><i class="fa-regular fa-closed-captioning"></i></div>
                                    <!-- CaptionIcon-->
                                    <div class="watchSetting_box"><i class="fa-solid fa-gear"></i></div>
                                    <!-- Setting Icon-->
                                    <div class="watch_btn_size"> <img src="/src/icons/rectangle.png"
                                            style="width: 1.8em; height: 1.3em;"> </div> <!-- Small Screen Icon-->
                                    <div class="watch_fullscreen"><i class="fa-solid fa-expand"></i></div>
                                    <!-- Full Screen Icon-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="watch-video_ch_title-box">
                    <div class="waching-video_title_box">
                        <p id="current_video_titel">
                            <%=completeResponse.videos.snippet.title %>
                        </p>
                    </div>
                    <div class="watch_video_channel_sh_sb_box">
                        <div class="watching_video_channel_box">
                            <div class="watching_video_channel_nm_sb">
                                <div class="watching_video_channel"> <img src="<%=completeResponse.channelImage%>"
                                        alt="channel image"> </div>
                                <div class="watching_video_channel_name">
                                    <p class="watching_ch_name">
                                        <%=completeResponse.videos.snippet.channelTitle %>
                                    </p>
                                    <p class="watching_ch_total_subs">
                                        <%=completeResponse.subscriberCount%>
                                    </p>
                                </div>
                            </div>
                            <div class="watching_video_channel_sb_box">
                                <button class="watching_vd_ch_subs_btn">Subscribe</button>
                            </div>
                        </div>
                        <div class="watching_video_li_down_sh_box">
                            <div class="watching_video_like_dislike_box"> <button id="watching_video_like"><i
                                        class="fa-solid fa-thumbs-up"></i>
                                    <%=completeResponse.videos.statistics.likeCount %>
                                </button> <button id="watching_video_dislike"><i
                                        class="fa-solid fa-thumbs-down"></i></button> </div>
                            <div class="watching_video_share_box"> <button class="watching_video_share"><i
                                        class="fa-solid fa-share"></i> Share</button> </div>
                            <div class="watching_video_download_box"> <button class="watching_video_download"><i
                                        class="fa-solid fa-download"></i>Download</button> </div>
                            <div class="watching_video_Save_report_box"> <button id="watching_video_report_save"><i
                                        class="fa-solid fa-ellipsis"></i></button> </div>
                        </div>
                    </div>
                </div>
                <div class="watch-video_comments_main_box">
                    <div class="watch-video_comment_headerBox">
                        <h3><%= Number(completeResponse.videos.statistics.commentCount).toLocaleString() %> Comments</h3>
                        <div class="watch-video_comment_sort_controls">
                            <button class="watch-video_comment_sort_btn">Sort by</button>
                            <select class="watch-video_comment_sort_select">
                                <option value="top">Top Comments</option>
                                <option value="new">Newest First</option>
                            </select>
                        </div>
                    </div>
                    <% for(const comment of completeResponse.commentResponse.data.items) {%>
                        <div class="sngl-comment-main-box">
                            <div class="commenter-user-image">
                                <div class="image">
                                    <img src="<%= comment.snippet.topLevelComment.snippet.authorProfileImageUrl%>"
                                        alt="">
                                </div>
                            </div>
                            <div class="commenter-user-ds-bio">
                                <div class="commenter-user-nm-cmt">
                                    <div class="commenter-user-name-delay-box">
                                        <span class="commenter-user-name">
                                            <%=comment.snippet.topLevelComment.snippet.authorDisplayName %>
                                        </span>
                                        <span class="commenter-user-cmt-time"><%= comment.snippet.topLevelComment.snippet.publishedAt%></span>
                                    </div>
                                    <p class="commenter-user-comment">
                                        <%= comment.snippet.topLevelComment.snippet.textOriginal%>
                                    </p>
                                    <div class="commenter-cmt-like-dislike-box">
                                        <div class="commenter-cmt-like"><i class="fa-regular fa-thumbs-up"></i></div>
                                        <div class="commenter-cmt-dislike"><i class="fa-regular fa-thumbs-down"></i>
                                        </div>
                                        <div class="commenter-cmt-reply">Reply</div>
                                    </div>
                                </div>
                                <div class="commenter-user-more-option">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>
                        <%} %>

                </div>
            </div>
            <div class="watch-route_related_video_box">
                <% for (const video of similarCompleteResponse ) { %> 
                 <a href="/youtube/watch/<%= video.id.videoId %>">                 
                <div class="watch-route-main-video-card">
                    <div class="watch-router-video-image">
                        <img src="<%=video.snippet.thumbnails.medium.url %>"
                            alt="video image">
                    </div>
                    <div class="watch-route-video-description">
                        <p class="watch-route-video-title"><%= video.snippet.title %> </p>
                        <p class="watch-route-video-channel-name"><%=video.snippet.channelTitle %></p>
                        <div class="watch-route-video-views-updation-box">
                            <p>1.2M views</p>
                            <p>• 3 weeks ago</p>
                        </div>
                    </div>
                    <div class="watch-route-video-more-option-box">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                </a>
                <% } %>
            </div>
        </div>

        <!-- <script>
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('video_frame', {
            events: {
                'onReady': onPlayerReady
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo(); // Automatically start the video
    }

    function playVideo() {
        player.playVideo(); // Custom Play Button
    }

    function pauseVideo() {
        player.pauseVideo(); // Custom Pause Button
    }
</script> -->
        <!-- <script src="https://www.youtube.com/iframe_api"></script> -->
    </body>

    </html>